.checkout {
    display: flex;
    padding: 20px;
    background: white;
    height: max-content;
    justify-content: space-between;
}

.checkout__ad {
    margin-bottom: 10px;
    width: 100%;
}

.checkout__title {
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.checkout__right {
    margin-left: 20px;
}